html{
  scroll-behavior: smooth;
}

.header{
    display: flex;
    justify-content: center;
}

body{
  margin: 0px;
}

.header-buttons-container{
  position:absolute;
  right: 10%;
  display: flex;
  width: 40vw;
  justify-content: space-around;
  border: solid;
}

.header{
  display: flex;
  background-color: rgba(0, 0, 0,0);
  margin: 0;
  justify-content: center;
  align-items:center;
  height: 8vw;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid;
  border-width: 3px;
  border-color: rgba(172, 143, 91, 0.664);
}

.icon{
  border-radius: 50%;
  height: 10vw;
  position:absolute;
  left: 100px;
}

.header-button{
  height: 50px;
  background: none;
  color:white;
  border: none;
  font-family: 'Fraunces';
  font-size: 25px;
  transition: all ease 0.3s;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('pic6.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
}

.content {
  position: relative;
  margin: 0;
  margin-top: 25vh;
  padding: 20px;
  background: rgba(255, 255, 255, 1);
}

.welcome {
  position: relative;
  margin: 0;
  margin-top: 15vh;
  padding: 20px;
  background: none;
  display: flex;
  justify-content: center;
}

.welcome-text-container{
  text-align: center;
}

.welcome-text{
  color: white;
  font-family: 'Fraunces';
}

.parallax-section {
  position: relative;
  height: 100vh; 
  overflow: hidden;
}

.parallax-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('pic6.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
}

.parallax-content {
  position: relative;
  z-index: 1; 
  padding: 20px;
  color: white;
}

.insta-logo{
  width: 40px;
}

.fb-logo{
  width: 35px;
}

.socials{
  background: none;
  border: none;
  transition: all ease 0.3s;
}


.socials:hover, .header-button:hover{
  cursor: pointer;
  opacity: 0.5;
}
